// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.75rem;
$line-height-base: 1.25;

$primary: #30eef0;
$secondary: #707070;

// Colors
$blue: #30eef0;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$headings-font-family: null !default;
$headings-font-weight: bold !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

$display4-size: 3rem !default;

$display1-weight: bold !default;
$display2-weight: bold !default;
$display3-weight: bold !default;
$display4-weight: bold !default;

$btn-border-radius: 0 !default;
$btn-border-radius-lg: 0 !default;
$btn-border-radius-sm: 0 !default;
$btn-font-weight: bold; 


