// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

// Variables
@import "variables";
@import "sidebar";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body.loading:before {
    content: "";
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffffff80;
    z-index: 1;
    position: absolute;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

@include media-breakpoint-down(md) {
    .dropdown-menu {
        display: block !important;
        border: none;
        padding: 0;
        margin: 0;
        position: relative;
        top: 0;
        float: none;
    }
}

.loading {
    position: relative;
    cursor: wait;
    z-index: 0;
    &:before {
        content: " ";
        position: absolute;
        background: rgba(255, 255, 255, 0.7) url("/img/loading.gif") no-repeat
            center center;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 2;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $blue;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.3s;
}
.top-right-menu {
    color: $secondary;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    a {
        transition: all 0.2s;
        color: $secondary;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        i {
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
        &:hover {
            text-decoration: none;
            color: $primary;
            transition: all 0.2s;
        }
    }
}
h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
}
.homepage-hero {
    color: $secondary;
    // margin-top: -1.5rem;
    .card-text {
        font-size: 20px;
        line-height: 24px;
        @include media-breakpoint-down(md) {
            font-size: 16px;
            line-height: 20px;
        }
    }
}
.display-4 {
    @include media-breakpoint-down(md) {
        font-size: 32px;
    }
}

.btn {
    text-transform: uppercase;
}

.btn-primary {
    color: $secondary;
}

.icon {
    margin: 32px;
    @include media-breakpoint-down(md) {
        margin: 16px;
    }
    .icon-circle {
        background: #fff;
        border-radius: 50%;
        height: 105px;
        width: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        i {
            font-size: 60px;
        }
        @include media-breakpoint-down(md) {
            height: 65px;
            width: 65px;
            i {
                font-size: 40px;
            }
        }
    }
    .icon-text {
        margin-top: 17px;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        color: $primary;
        @include media-breakpoint-down(md) {
            font-size: 14px;
        }
    }
}

.footer {
    a {
        font-weight: bold;
        line-height: 2;
    }
}

.map {
    height: 280px;
    background-size: cover;
    position: relative;
    .map-search-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .form-control {
        font-weight: bold;
        &::placeholder {
            color: $white;
        }
    }
}

.bubble {
    position: relative;
    a.bubble_link {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 5px;
        opacity: 0.8;
        transition: all 0.2s;
        overflow: hidden;
        z-index: 2;
        border-radius: 50%;
        border: 1px solid #ddd;
        box-shadow: 1px 2px 2px #ccc;
        display: block;
        &:hover {
            opacity: 1;
        }
        img {
            z-index: 1;
            position: absolute;
            max-height: 100%;
            max-width: 100%;
            left: 0;
            top: 0;
        }
    }
    a.bubble_action {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
        color: $red;
    }
}
